@{
    ViewData["Title"] = "Access Forbidden";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>You wandered too far...</h1>
    <p>Use this button to go back to the home page and escape with your life:</p>
    <a href="/" class="btn btn-primary">Go Home</a>
    <br /><br />
    <div style="max-width: 1000px; margin: auto;">
        <img src="https://tenor.com/view/rock-one-eyebrow-raised-rock-staring-the-rock-gif-22113367.gif" alt="Dwayne Johnson GIF" style="width: 100%; height: auto;">
    </div>
</div>
