@model List<TeamModel>

@{
    List<TeamModel> sortedTeams = Model.OrderBy(team => team.Ranking).ToList();
    ViewData["Title"] = "Teams Ranking";
    string userRole = User?.Claims?.FirstOrDefault(claim => claim.Type == "Role")?.Value ?? "";

}

<h1>Teams Ranking</h1>

@foreach (TeamModel team in sortedTeams)
{
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><b>@team.Ranking</b></div>
        <div class="card-body">
            <h4 class="card-title">
                <img class="card-img-top" src="@team.Image" alt="Card image cap" style="max-width: 52px; height: auto;">
                <a asp-controller="Teams" asp-action="Team" asp-route-teamId="@team.Id" style="text-decoration:none; color:inherit">@team.Name</a>
            </h4>
            <p class="card-text"></p>
        </div>
    </div>
    <br />
}
@if (userRole.ToLower() == "moderator" || userRole.ToLower() == "admin")
{
    <h3><a asp-action="AddTeam" class="btn btn-link" style="text-decoration:none; color:inherit; float:right">Add a new team</a></h3>
}
