@model LRTV.Models.UserModel
<script src="https://kit.fontawesome.com/687b81a34f.js" crossorigin="anonymous"></script>

<div class="container">
    <h1 class="text-center">Register</h1>
    <div class="row">
        <div class="mx-auto w-50">
            <form id="account" asp-controller="Authentication" asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Username</label>
                    <input asp-for="Username" class="form-control bg-light" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <div class="input-group">
                        <input asp-for="Password" id="password" type="password" class="form-control bg-light" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                <i id="toggleIcon" class="fa fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordConfirm" class="control-label">Password Confirm</label>
                    <div class="input-group">
                        <input asp-for="PasswordConfirm" id="passwordConfirm" type="password" class="form-control bg-light" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="togglePasswordConfirm">
                                <i id="toggleIconConfirm" class="fa fa-eye-slash"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    if (ViewData.ModelState[string.Empty] != null)
                    {
                        <div class="error-summary">
                            @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                            {
                                <div class="error-item text-danger">
                                    @error.ErrorMessage
                                </div>
                            }
                        </div>
                    }
                }
                <br />
                <button type="submit" class="btn btn-primary mt-3">Register</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');
        const toggleIcon = document.querySelector('#toggleIcon');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);

            if (type === 'password') {
                toggleIcon.classList.add('fa-eye-slash');
                toggleIcon.classList.remove('fa-eye');
            } else {
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        });

        const togglePasswordConfirm = document.querySelector('#togglePasswordConfirm');
        const passwordConfirm = document.querySelector('#passwordConfirm');
        const toggleIconConfirm = document.querySelector('#toggleIconConfirm');

        togglePasswordConfirm.addEventListener('click', function (e) {
            const type = passwordConfirm.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordConfirm.setAttribute('type', type);

            if (type === 'password') {
                toggleIconConfirm.classList.add('fa-eye-slash');
                toggleIconConfirm.classList.remove('fa-eye');
            } else {
                toggleIconConfirm.classList.remove('fa-eye-slash');
                toggleIconConfirm.classList.add('fa-eye');
            }
        });
    });
</script>
